$backgroundMain: rgb(244, 244, 244);
$black_100: #152242;
$primary_100: #0468ff;
$secondary_button_10: rgba(4,104,255,.1);
$white_100: #fff;
$gray40_100: #a1a7b3;
$--gray20_100: #ced1d7;
$superblack_40: rgba(0,0,0,.4);
$gray10_100: #e8e9ec;